@page "/"

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>T's URL Shortener</h1>
            <p>Shortening URLs like it's 2006!</p>
        </div>

    </div>
</div>