@page "/ViewUrls"

@using Presentation.Components.UrlListings

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3>ViewUrls</h3>
            <UrlListingsView/>           
        </div>
    </div>
</div>